@charset "UTF-8"; 

/*Global*/

html {
	/*文字化け防ぎ*/
	font-size: 100%; 
}

body {
	font-family: "Yu Ghotic Medium", "游ゴシック Megium", YuGhotic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif; 
	line-height: 1.7; 
	color: #432; 
}

a {
	text-decoration: none; 
}

img {
	/*画像が親要素より大きくなるの防止*/
	max-width: 100%; 
}

/*↓全体に余白つける*/
.wrapper {
	max-width: 1100px; 
	margin: 0 auto; 
	padding: 0 4%; 
}

/*HEADER-------------------------------*/

.logo {
	width: 210px; 
	margin-top: 14px;
}

.main-nav {
	display: flex; 
	font-size: 1.25rem; 
	text-transform: uppercase; 
	margin-top: 34px; 
}

nav li {
	list-style: none; 
	margin-left: 36px; 
}

.main-nav a {
	color: #432; 
}

.main-nav a:hover {
	color: #0bd; 
}

.page-header {
	display: flex; 
	justify-content: space-between; 
}

/*HOME---------------------*/

.home-content {
	text-align: center; 
	margin-top: 10%; 
}

.home-content p {
	font-size: 1.125rem; 
	margin: 10px 0 42px; 
}

/*見出し*/

.page-title {
	font-size: 5rem; 
	font-family: 'Philosopher', serif; 
	text-transform: uppercase; 
	font-weight: normal; 
}

/*ボタン*/

.button {
	font-size: 1.375rem; 
	background-color: #0bd; 
	padding: 18px 32px; 
	border-radius: 5px; 
	color: #fff; 
}

.button:hover {
	color: #0090aa; 
}

/*大きな背景---------------------------*/

.big-bg {
	background-size: cover; 
	background-position: center top; 
	background-repeat: no-repeat;  
}

#home {
	background-image: url('../images/main-bg.jpg'); 
	min-height: 100vh;
}

#home .page-title {
	text-transform: none; 
}

/*News-------------------------*/

#news {
	background-image: url('../images/news-bg.jpg'); 
	height: 270px; 
	margin-bottom: 40px; 
}

#news .page-title {
	text-align: center; 
}

/*footer-------------------------*/

.footer {
	background-color: #432; 
	padding: 26px 0; 
	text-align: center;
}

.footer p {
	color: #fff; 
	font-size: 0.875rem; 
}

/*記事部分*/

.news-contents {
	display: flex; 
	justify-content: space-between; 
	margin-bottom: 50px; 
}

article {
	width: 60%; 
	order: 2; 
}

aside {
	width: 22%; 
	order: 3; 
}

.post-info {
	position: relative; 
	padding-top: 4px; 
	margin-bottom: 40px; 
}

.post-date {
	position: absolute; 
	font-size: 1.625rem; 
	background-color: #0bd; 
	color: #fff; 
	text-align: center;
	border-radius: 50px; 
	top: 0; 
	height: 100px;
	width: 100px; 
	padding-top: 10px; 
}

.post-date span {
	font-size: 1rem; 
	display: block; 
	border-top: 1px rgba(255,255,255,.5) solid; 
	width: 60%; 
	margin: 0 auto; 
	padding-top: 6px; 
}

.post-title {
	font-family: "Yu Mincho", "YuMincho", serif; 
	font-size: 2rem; 
	font-weight: normal; 
}

.post-title, 
.post-cat {
	margin-left: 120px; 
}

article img {
	margin-bottom: 20px; 
}

article p {
	margin-bottom: 1rem; 
}

.sub-title {
	font-size: 1.375rem; 
	padding: 0 8px 8px; 
	border-bottom: 2px #0bd solid; 
	font-weight: normal; 
}

aside p {
	padding: 12px 10px; 
}

.sub-menu {
	list-style: none; 
	margin-bottom: 60px; 
}

.sub-menu li {
	border-bottom: 1px #ddd solid; 
	padding: 12px 10px; 
	/*↓リンクのクリックできる範囲を広げる*/
	display: block; 
}

.sub-menu a {
	color: #432; 
}

.sub-menu a:hover {
	color: #0bd; 
}
/*Advertisements*/

.ad { order: 1; }

/*MENU------------------------------*/

#menu {
	background-image: url('../images/menu-bg.jpg'); 
	min-height: 100vh; 
}

.menu-content {
	max-width: 560px; 
	margin-top: 10%; 
}

.menu-content, .page-title {
	text-align: center; 
}

.menu-content p {
	font-size: 10px 0 0 ; 
	margin: 10px 0 0 ;
}
/*GRID*/

.grid {
	display: grid; 
	gap: 26px; 
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
	margin-top: 6%; 
	margin-bottom: 50px; 
}

.big-box {
	grid-column: 1 / 3; 
	grid-row: 1 / 3; 
}

.big-box img {
	width: 95%; 
	height: 95%; 
	object-fit: cover; 
}

/*CONTACT--------------------------*/

#contact {
	background-image: url('../images/contact-bg.jpg'); 
	min-height: 100vh; 
}

#contact .page-title {
	text-align: left; 
}

form div {
	margin-bottom: 14px; 
}

label {
	font-size: 1.125rem; 
	margin-bottom: 10px; 
	display: block; 
}

input[type="text"], 
input[type="email"], 
textarea {
	background-color: rgba(255,255,255,.5); 
	border: 1px #fff solid; 
	border-radius: 5px; 
	padding: 10px; 
	font-size: 1rem; 
}

textarea {
	width: 100%; 
	max-width: 480px; 
	height: 6rem; 
}

input[type="submit"] {
	border: none; 
	cursor: pointer; 
	line-height: 1; 
}

/*店舗情報・地図*/

#location {
	padding: 4% 0; 
}

#location .wrapper {
	display: flex; 
	justify-content: space-between; 
}

.location-info {
	width: 22%; 
}

.location-info p {
	padding: 12px 10px; 
}


.location-map {
	width: 74%; 
}

iframe {
	width: 100%; 
}

/*sns*/

#sns {
	background: #FAF7F0; 
	padding: 4% 0; 
}

#sns .wrapper {
	display: flex; 
	flex-direction: row; 
	justify-content: space-between; 
}

#sns .sub-title {
	margin-bottom: 30px; 
}

.sns-box {
	width: 30%; 
}
	

/*モバイル版---------------------------*/

@media(max-width:768px){
	.page-title {
		font-size: 2.5rem; 
	}
	
	/*HEADER*/
	.main-nav {
		font-size: 1rem; 
		margin-top: 10px; 
	}
	.main-nav li {
		margin: 0 20px; 
	}
	
	/*HOME*/
	.home-content {
		margin-top: 20%; 
	}
	.page-header {
		display: flex; 
		flex-direction: column; 
		align-items: center; 
	}
	/*NEWS*/
	.news-contents {
		flex-direction: column; 
	}
	
	article, 
	aside {
	width: 100%;}
	
	#news .page-title {
	margin-top: 30px; }
	
	aside { margin-top: 60px; }
	
	.post-info { margin-bottom: 30px; }
	
	.post-date {
		width: 70px; 
		height: 70px; 
		font-size: 1rem; 
	}
	
	.post-date span {
		font-size: 0.875rem; 
		padding-top: 2px; 
	}
	
	.post-title { font-size: 1.375rem;}
	
	.post-cat {
		font-size: 0.875rem; 
		margin-top: 10px; 
	}
	
	.post-title, 
	.post-cat {
	margin-left: 80px; }
	
	.ad { display: none; }
	
	/*MENU----------------*/
	
	.menu-content {
		margin-top: 20%; 
	}
	
	.big-box {
		grid-column: auto; 
		grid-row: auto; 
	}
	
	.big-box img {
		height: 90%; 
		
	}
	
	/*CONTACT*/
	
	#contact .page-title {
		margin-top: 40px; 
	}
	
	input[type="text"], 
	input[type="email"], 
	textarea {
		width: 100%; 
	}
	
	textarea {
		max-width: 100%; 
	}
	
	/*SNS*/
	
	#location .wrapper, 
	#sns .wrapper {
		flex-direction: column; 
	}
	
	.sns-box, 
	.location-info, 
	.location-map	{
		width: 100%; 
	}
	
	.sns-box {
		margin-bottom: 30px; 
	}
	
}